---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutIntro from '../components/AboutIntro.astro';
import NewsSection from '../components/NewsSection.astro';
import Benefits from '../components/Benefits.astro';
import ServiceHighlight from '../components/ServiceHighlight.astro';
import VideoSection from '../components/VideoSection.astro';
import FlipBoxGrid from '../components/FlipBoxGrid.astro';
import ServiceCarousel from '../components/ServiceCarousel.astro';
import ProductCarousel from '../components/ProductCarousel.astro';
import energiTerbarukanIcon from '../assets/icons/energi-baru.svg?raw';
import manajemenEnergiIcon from '../assets/icons/manajemen-energi.svg?raw';
import biomassIcon from '../assets/icons/biomass.svg?raw';

const energiTerbarukanStats = [
  { iconPath: energiTerbarukanIcon, value: "17", title: "Proyek yang sedang Berjalan" },
  { iconPath: energiTerbarukanIcon, value: "2109360", title: "Perkiraan kWh Diproduksi per Tahun" },
  { iconPath: energiTerbarukanIcon, value: "1961704", title: "Perkiraan Penghindaran CO₂" },
];

const manajemenEnergiStats = [
  { iconPath: manajemenEnergiIcon, value: "2", title: "Proyek yang sedang Berjalan" },
  { iconPath: manajemenEnergiIcon, value: "37192", title: "Perkiraan Penghematan kWh" },
  { iconPath: manajemenEnergiIcon, value: "35166", title: "Perkiraan Penghindaran CO₂" },
];

const energiBiomassaStats = [
  { iconPath: biomassIcon, value: "100", title: "Perkiraan Ton Sampah yang Diproses" },
  { iconPath: biomassIcon, value: "476190", title: "Perkiraan Penghematan kWh" },
  { iconPath: biomassIcon, value: "442857", title: "Perkiraan Penghindaran CO₂" },
];

const products = [
  {
    title: "Impor Panel",
    description: "Sistem Panel Surya adalah solusi inovatif dan efektif untuk menghasilkan listrik dengan memanfaatkan energi matahari.",
    url: "/produk"
  },
  {
    title: "Panel TKDN",
    description: "Panel surya semakin populer sebagai sumber energi alternatif, dan panel TKDN dari SONUS menawarkan solusi yang terjangkau.",
    url: "/produk"
  },
  {
    title: "SPKL",
    description: "SPKL adalah salah satu inovasi dari Sonus di bidang kendaraan listrik untuk infrastruktur pengisian daya yang efisien.",
    url: "/produk"
  },
  {
    title: "Wood Pellet",
    description: "Energi biomassa adalah sumber energi terbarukan yang dihasilkan dari bahan organik, seperti serbuk kayu dan limbah pertanian.",
    url: "/produk"
  },
  {
    title: "50100 FG Series",
    description: "Sumber daya listrik yang andal untuk Anda yang sering beraktivitas di daerah terpencil atau hidup tanpa bergantung pada jaringan listrik.",
    url: "/produk"
  }
];
---

<Layout title="Solar Nusantara - Energi Baru Indonesia">
	<HeroSection />
	<main>
		<AboutIntro />
		<NewsSection />
    	<ServiceHighlight client:visible title="Energi Terbarukan" stats={energiTerbarukanStats} />
		<ServiceHighlight client:visible title="Manajemen Energi" stats={manajemenEnergiStats} />
		<ServiceHighlight client:visible title="Energi Biomassa" stats={energiBiomassaStats} />
		<Benefits />
		<ServiceCarousel />
		<ProductCarousel products={products} />
		<VideoSection />
		<FlipBoxGrid />
	</main>
</Layout>